.chat-item {
    display: flex;
    align-items: center;
    color: black;
}

.active {
    background: #FF7172;
    color: #ffffff;
}

.chat-item__show {
    animation: fire_chat 700ms 3 forwards ease-out;
}

@keyframes fire_chat {
    100% {background-color: #dc40b1;}
}